<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sushi</title>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700'>
    <link rel="stylesheet" href="libs/bootstrap.min.css"/>
    <link rel="stylesheet" href="libs/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body>
<header>
    <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row navbar-header col-md-5">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#myNavbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html"><h1 class="main-text">YOUR LOGO</h1></a>
            </div>
            <div class="navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">ГЛАВНАЯ</a></li>
                    <li><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                    <li><a href="#">КОРЗИНА</a></li>
                    <li><a class="head-flag" href="#"><img src="img/usa_flag.png" alt=""/></a></li>
                    <li><a class="head-flag" href="#" style="margin-right: 40px"><img src="img/ru_flag.png" alt=""/></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
    </nav>
</header>
<section class="jumbotron">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>












<footer class="footer navbar-fixed-bottom"></footer>

<script src="libs/jquery-3.1.1.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
</body>
</html>