body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000;

}

/*----------header----------*/
.navbar {
    background-color: #2f2f31;
    height: 50px;
    width: 100%;
    border:none;
    border-radius: 0;
    margin-bottom: 0;
}

.main-text {
    color: #fff;
    font-size: 25px;
    margin: 0;
    padding: 12px 0 0 40px;
    text-decoration: none;
}
.main-text:hover{
    text-decoration: none;
}
.navbar-header a{
    text-decoration: none;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    margin: 0 10px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-default .navbar-nav>li>a.head-flag {
    margin: 0;
    padding: 15px 2px;
}
/*----------main-content----*/
.jumbotron{
    background-image: url(../img/dishes/jumbotrom_img.jpg);
    height: 350px;
    width: 100%;
}
/*----------footer----------*/







/*Large Devices, Wide Screens*/
@media only screen and (max-width: 1200px){

}
/*Medium Devices, Desktops*/
@media only screen and (max-width:992px){

}
/*Small Devices, Tablets*/
@media only screen and (max-width:600px){

}
/*Extra Small Devices, Phones*/
@media only screen and (max-width:480px) {
}