body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000;
    min-width: 320px;
}
textarea {
    resize: none;
}
/*----------header----------*/
.navbar {
    background-color: #2f2f31;
    height: 50px;
    width: 100%;
    border:none;
    border-radius: 0;
    margin-bottom: 0;
}

.main-text {
    color: #fff;
    font-size: 25px;
    margin: 0;
    padding: 12px 0 0 40px;
    text-decoration: none;
}
.main-text:hover{
    text-decoration: none;
}
.navbar-header a{
    text-decoration: none;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    margin: 0 10px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-default .navbar-nav>li>a.head-flag {
    margin: 0;
    padding: 15px 2px;
}
/*----------jumbotron----*/
.jumbotron{
    background-image: url(../img/dishes/jumbotrom_img.jpg);
    height: 350px;
    width: 100%;
    margin-bottom: 0;
}
.jumb-content{
    text-align: center;
    padding-top: 10px;
    background-color: rgba(47,47,49,0.7);
    border: none;
    border-radius: 11px;
    margin: 30px 225px;
}

.jumb-content h3{
    color: #fff;
    font-size: 35px;
}
.jumb-content button{
    margin: 15px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #f2d902;
    padding: 8px 16px;
    border-radius: 11px;
    border: none;
}
.jumb-content button:hover{
    background-color: #f9ef9a;
}
.discount{
    font-weight: 600;
}
/*----------main-content----*/
.dishes-nav{
    height: 50px;
    width: 100%;
    background-color: #2f2f31;
}
.dishes-nav li{
    color: #fff;
    text-decoration: none;
}
.dishes-nav li>p>span{
    color: #f2d902;
    text-decoration: none;
}
.dishes-nav li>p{
    display: block;
    margin: 4px 10px 0 0;
}
.dishes-nav li>i{
    display: block;
    margin: 4px 0 0 0;
}

.dishes-nav li>a{
    color: #fff;
    text-decoration: none;
    margin: 0 50px;
}
.dishes-nav li>a:hover{
    color: black;
    text-decoration: none;
    background-color: #f9ef9a;
}
.main-dish-menu{
    /*height: 1000px;*/
    width: 100%;
}
.main-dish-menu h1{
    text-align: center;
    margin: 40px 0;
}
.dish-card{
    border: 1px solid #2f2f31;
    text-align: center;
}
.dish-card:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, .5);
}
.dish-card p{
    text-align: center;
}
.dish-img{
    display: block;
    margin: 20px 0 0 20px;
    height: 160px;
}
.dish-title{
    font-weight: 600;
    font-size: 20px;
}
#left{
    height: 20px;
    width: 22px;
    background-image: url(../img/icon-arrow-left.png);
    background-repeat: no-repeat;
    border: none;
    text-align: center;
}
#right{
    height: 20px;
    width: 20px;
    background-image: url(../img/icon-arrow-right.png);
    background-repeat: no-repeat;
    border: none;
    text-align: center;
}
#right,#left:hover{
    background-color: #fff;
}
.dish-card{
    margin: 0 15px 50px;
    padding-left: 10px;
    width: 270px;
}
.dish-card label{
    float: left;
    display: block;
    margin-top: 20px;
}
.dish-card input{
    width: 15px;
    padding: 1px;
}
.dish-card .order-button{
    margin: 15px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #f2d902;
    padding: 8px 16px;
    border-radius: 11px;
    border: none;
}
.dish-card .order-button:hover{
    background-color: #f9ef9a;
}
.dish-card span{
    font-size: 40px;
    font-weight: 600;
}
.dish-price{
    display: block;
    margin: 0;
    width: 80px;
    float: left;
}
/*----------footer----------*/
.footer{
    color:#fff;
    background-color: #2f2f31;

}
.contacts-footer, .menu-first-column, .menu-sec-column{
    margin: 30px 0 0;

}
.contacts-footer p a{
    margin-bottom: 1px;
    text-decoration: none;
    color: #9f9f9f;
}
.menu-first-column p a{
    margin-bottom: 1px;
    text-decoration: none;
    color: #9f9f9f;
}
.menu-first-column{
    border-left: 1px solid #9f9f9f;
    padding-left: 20px;
}
.menu-sec-column p a{
    margin-bottom: 1px;
    text-decoration: none;
    color: #9f9f9f;
}
.social i{
    color: #9f9f9f;
}
.copyright{
    text-align: center;
    color: #9f9f9f;
    font-size: 12px;
}
/*----------contact page----------*/
.address{
    text-align: center;
}
.address p{
    margin: 15px 0;
}
.contact-map img{
    width: 100%;
    margin-top: 20px;
}
.contact-form button {
    margin: 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #f2d902;
    padding: 8px 16px;
    border-radius: 11px;
    border: none;
}
.contact-form button:hover{
    background-color: #f9ef9a;
}

/*----------basket_page----------*/

.main-content h1{
    text-align:center;
}
.order-list{
    height: 40px;
    width: 100%;
    background-color: #2f2f31;
}
.order-list li>p{
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 10px 60px 0 50px;
}

.order-list li>a{
    color: #fff;
    text-decoration: none;

}
.order-btn{
    margin: 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #f2d902;
    padding: 8px 16px;
    border-radius: 11px;
    border: none;
    text-align: center;
}
.order-btn:hover{
    background-color: #f9ef9a;
}
.basket-page span{
    font-weight: 600;
}
.basket-page h3 {
    float: right;
}
.basket-page button{
    text-align: center;
}




















/*Large Devices, Wide Screens*/
@media only screen and (max-width: 1280px){
    .container{
        width: 1230px;
    }
}
/*Medium Devices, Desktops*/
@media only screen and (max-width:992px){

}
/*Small Devices, Tablets*/
@media only screen and (max-width:600px){

}
/*Extra Small Devices, Phones*/
@media only screen and (max-width:480px) {
}